In [1]:
import numpy as np

import astropy.units as u
from astropy.time import Time
from astropy.coordinates import SkyCoord
import pytz
from astropy import *
import pandas as pd
from astropy import units as u
from astroplan import *
from astroplan import download_IERS_A
from astropy.table import Table

download_IERS_A()

Downloading http://maia.usno.navy.mil/ser7/finals2000A.all [Done]

Found a better dataset:
https://www.cosmos.esa.int/web/hipparcos/sample-tables-1

## Set up
Got observatory Location

Got data, all with names and locations

In [2]:
#Our Observatory
observatory = Observer.at_site('Palomar')

In [3]:
data2 = pd.read_csv('data2.csv')

In [4]:
#removing data without a name
#Couldn't get mask to work
mask = np.where(isinstance(data2['Name'],str))
mask
#Made my own mask since I couldn't get the one to work
othermask = list()
for i in range(len(data2['Name'])):
    if(isinstance(data2['Name'][i],str)):
        othermask.append(True)
    else:
        othermask.append(False)
data = data2[othermask]
data = data.reset_index()

In [5]:
len(data['Name']) # answer 39

39

In [6]:
#Dates will be October 15th through the 30th
#Find which objects will be visible
data

,index,HIP,HD,ra (deg),dec (deg),V mag,Mv =V + 5log(parallax in mas) -10,parallax in mas,std error on parallax,relative precision of distance,total proper motion (mas/yr),pm in ra (mas/yr),pm in dec (mas/yr),transverse velocity,in CNS3,Name
0,0,70890,NaN,217.449,-62.681,11.01,15.45,772.33,2.42,0.003,3852.99,-3775.64,768.16,23.65,*,alpha_Cen_C
1,1,71681,128621.0,219.914,-60.839,1.35,5.70,742.12,1.40,0.002,3724.12,-3600.35,952.11,23.79,*,alpha^2_Cen
2,2,71683,128620.0,219.920,-60.835,-0.01,4.34,742.12,1.40,0.002,3709.62,-3678.19,481.84,23.70,*,alpha^1_Cen
3,3,87937,NaN,269.454,4.668,9.54,13.24,549.01,1.58,0.003,10357.70,-797.84,10326.93,89.43,*,Barnard's_star
4,5,32349,48915.0,101.289,-16.713,-1.44,1.45,379.21,1.58,0.004,1339.42,-546.01,-1223.08,16.74,*,alpha_CMa
5,7,16537,22049.0,53.235,-9.458,3.72,6.18,310.75,0.85,0.003,976.61,-976.44,17.97,14.90,*,epsilon_Eri
6,10,104214,201091.0,316.712,38.741,5.20,7.49,287.13,1.51,0.005,5280.65,4155.10,3258.9,87.18,*,61_Cyg_A
7,11,37279,61421.0,114.827,5.228,0.40,2.68,285.93,0.88,0.003,1258.50,-716.57,-1034.58,20.86,*,alpha_CMi
8,12,104217,201092.0,316.717,38.734,6.05,8.33,285.42,0.72,0.003,5172.40,4107.40,3143.72,85.91,*,61_Cyg_B
9,16,108870,209100.0,330.823,-56.780,4.69,6.89,275.76,0.69,0.003,4703.94,3959.97,-2538.84,80.86,*,epsilon_Ind
10,17,8102,10700.0,26.021,-15.940,3.49,5.68,274.17,0.80,0.003,1922.00,-1721.82,854.07,33.23,*,tau_Cet
11,19,36208,NaN,111.851,5.235,9.84,11.94,263.26,1.43,0.005,3738.16,571.27,-3694.25,67.31,*,Luyten's_star
12,20,24186,33793.0,77.897,-45.004,8.86,10.89,255.26,0.86,0.003,8670.50,6506.05,-5731.39,161.02,*,Kapteyn's_star
13,22,110893,239960.0,337.002,57.697,9.59,11.58,249.52,3.03,0.012,989.56,-870.23,-471.1,18.80,*,Kruger_60
14,28,3829,NaN,12.288,5.395,12.37,14.15,226.95,5.35,0.024,2977.84,1233.05,-2710.56,62.20,*,Van_Maanen_2
15,41,19849,26965.0,63.823,-7.645,4.43,5.92,198.24,0.84,0.004,4087.79,-2239.33,-3419.86,97.75,*,o^2_Eri
16,43,88601,165341.0,271.363,2.502,4.03,5.50,196.62,1.38,0.007,970.68,124.56,-962.66,23.40,*,70_Oph
17,44,97649,187642.0,297.695,8.867,0.76,2.20,194.44,0.94,0.005,660.92,536.82,385.54,16.11,*,alpha_Aql
18,54,96100,185144.0,293.086,69.665,4.67,5.87,173.41,0.46,0.003,1838.91,598.43,-1738.81,50.27,*,sigma_Dra
19,62,3821,4614.0,12.271,57.817,3.46,4.59,167.99,0.62,0.004,1222.71,1087.11,-559.65,34.50,*,eta_Cas
20,65,84405,155885.0,258.839,-26.600,4.33,5.44,167.08,1.07,0.006,1238.13,-473.69,-1143.93,35.13,*,36_Oph
21,67,15510,20794.0,49.972,-43.072,4.26,5.35,165.02,0.55,0.003,3123.70,3038.08,726.34,89.73,*,e_Eri
22,68,99240,190248.0,302.174,-66.179,3.55,4.62,163.73,0.65,0.004,1656.04,1210.29,-1130.34,47.95,*,delta_Pav
23,84,72659,131156.0,222.847,19.101,4.54,5.41,149.26,0.76,0.005,168.62,152.81,-71.28,5.36,*,xi_Boo
24,94,7981,10476.0,25.625,20.270,5.24,5.87,133.91,0.91,0.007,741.72,-302.12,-677.4,26.26,*,107_Psc
25,95,2021,2151.0,6.413,-77.255,2.82,3.45,133.78,0.51,0.004,2243.69,2220.12,324.37,79.50,*,beta_Hyi
26,98,5336,6582.0,17.054,54.924,5.17,5.78,132.40,0.60,0.005,3776.76,3421.44,-1599.27,135.22,*,mu_Cas
27,102,113368,216956.0,344.412,-29.622,1.17,1.74,130.08,0.92,0.007,367.90,329.22,-164.22,13.41,*,alpha_PsA
28,104,91262,172167.0,279.234,38.783,0.03,0.58,128.93,0.55,0.004,350.77,201.02,287.46,12.90,*,alpha_Lyr
29,110,22449,30652.0,72.459,6.961,3.19,3.67,124.60,0.95,0.008,463.59,463.44,11.62,17.64,*,pi^3_Ori
30,112,89937,170153.0,275.260,72.734,3.55,4.02,124.11,0.48,0.004,636.92,531.08,-351.59,24.33,*,chi_Dra
31,117,7751,10360.0,24.947,-56.196,5.76,6.21,122.75,1.41,0.011,286.58,286.10,16.66,11.07,*,p_Eri
32,124,61317,109358.0,188.438,41.357,4.24,4.63,119.46,0.83,0.007,763.49,-705.06,292.93,30.30,*,beta_CVn
33,125,86974,161797.0,266.615,27.722,3.42,3.80,119.05,0.62,0.005,804.63,-291.42,-750,32.04,*,mu_Her
34,128,64924,115617.0,199.604,-18.309,4.74,5.09,117.30,0.71,0.006,1508.75,-1069.90,-1063.78,60.97,*,61_Vir
35,130,1599,1581.0,5.008,-64.878,4.23,4.56,116.38,0.64,0.005,2067.32,1707.56,1165.36,84.21,*,zeta_Tuc
36,134,27913,39587.0,88.596,20.276,4.39,4.70,115.43,1.08,0.009,190.81,-163.17,-98.92,7.84,*,chi^1_Ori
37,146,27072,38393.0,86.117,-22.447,3.59,3.83,111.49,0.60,0.005,470.39,-292.42,-368.45,20.00,*,gamma_Lep
38,149,17378,23249.0,55.812,-9.765,3.52,3.74,110.58,0.88,0.008,747.87,-91.71,742.23,32.06,*,delta_Eri

## Moon Phases

Used the internet as a source for the moon: https://www.calendar-12.com/moon_calendar/2019/october

## Observation Capability

For October 15-30

In [7]:
## Initial Objects
my_targets = list()

#Making each object a targetable object using given data
for i in range(len(data["Name"])):
    #Getting coords for each target
    coords = SkyCoord(data['ra (deg)'][i]*u.deg, 
                      data['dec (deg)'][i]*u.deg,
                      frame='icrs')
    
    # Getting all the targets added to a list
    my_targets.append(FixedTarget(name=data["Name"][i], coord=coords))

In [8]:
#Time range we have been given
time_range = Time(["2019-10-15 00:00", "2019-10-30 23:59"])

In [21]:
#Some constraints to help determine if each is viable
con = [AltitudeConstraint(30*u.deg, 90*u.deg),
AirmassConstraint(2), AtNightConstraint.twilight_civil(),
       MoonIlluminationConstraint(0.4),MoonSeparationConstraint(min=.1*u.deg)
      ]
#Table for the 39 objects
observability_table(observer=observatory,
                   constraints=con,
                   targets=my_targets,time_range=time_range)

<Table length=39>
 target name   ever observable always observable fraction of time observable
    str14            bool             bool                 float64
-------------- --------------- ----------------- ---------------------------
   alpha_Cen_C           False             False                         0.0
   alpha^2_Cen           False             False                         0.0
   alpha^1_Cen           False             False                         0.0
Barnard's_star            True             False        0.009114583333333334
     alpha_CMa            True             False        0.053385416666666664
   epsilon_Eri            True             False         0.11197916666666667
      61_Cyg_A            True             False         0.07291666666666667
     alpha_CMi            True             False         0.06510416666666667
      61_Cyg_B            True             False         0.07291666666666667
   epsilon_Ind           False             False                         0.0
           ...             ...               ...                         ...
      pi^3_Ori            True             False         0.12369791666666667
       chi_Dra            True             False        0.045572916666666664
         p_Eri           False             False                         0.0
      beta_CVn            True             False       0.0026041666666666665
        mu_Her            True             False        0.016927083333333332
        61_Vir           False             False                         0.0
      zeta_Tuc           False             False                         0.0
     chi^1_Ori            True             False                  0.11328125
     gamma_Lep            True             False        0.055989583333333336
     delta_Eri            True             False                  0.11328125

In [10]:
#Subset of 10 objects
#Manually picked these out from the above table
small_targets = list()
small_targets.append(my_targets[38])
small_targets.append(my_targets[37])
small_targets.append(my_targets[36])
small_targets.append(my_targets[33])
small_targets.append(my_targets[3])
small_targets.append(my_targets[4])
small_targets.append(my_targets[5])
small_targets.append(my_targets[6])
small_targets.append(my_targets[7])
small_targets.append(my_targets[8])

In [27]:
#Some constraints to help determine if each is visible
con = [AltitudeConstraint(30*u.deg, 90*u.deg),
AirmassConstraint(2), AtNightConstraint.twilight_astronomical(),
       MoonIlluminationConstraint(0.95),MoonSeparationConstraint(min=10*u.deg)]
#Worst case scenario (First half of the period)
#Time range we have been given
time_range = Time(["2019-10-15 00:00", "2019-10-21 23:59"])
#Picked objects
observability_table(observer=observatory,
                   constraints=con,
                   targets=small_targets,time_range=time_range)

<Table length=10>
 target name   ever observable always observable fraction of time observable
    str14            bool             bool                 float64
-------------- --------------- ----------------- ---------------------------
     delta_Eri            True             False         0.02976190476190476
     gamma_Lep            True             False        0.011904761904761904
     chi^1_Ori            True             False        0.026785714285714284
        mu_Her            True             False        0.017857142857142856
Barnard's_star            True             False         0.01488095238095238
     alpha_CMa            True             False        0.008928571428571428
   epsilon_Eri            True             False         0.03273809523809524
      61_Cyg_A            True             False         0.03869047619047619
     alpha_CMi            True             False        0.011904761904761904
      61_Cyg_B            True             False         0.03869047619047619

In [28]:
#Some constraints to help determine if each is viable
con = [AltitudeConstraint(30*u.deg, 90*u.deg),
AirmassConstraint(2), AtNightConstraint.twilight_civil(),
       MoonIlluminationConstraint(0.10),MoonSeparationConstraint(min=1*u.deg)]
#Best case scenario (Latter half of the period)
#Time range we have been given
time_range = Time(["2019-10-21 00:00", "2019-10-30 23:59"])
#Picked objects
observability_table(observer=observatory,
                   constraints=con,
                   targets=small_targets,time_range=time_range)

<Table length=10>
 target name   ever observable always observable fraction of time observable
    str14            bool             bool                 float64
-------------- --------------- ----------------- ---------------------------
     delta_Eri            True             False         0.07083333333333333
     gamma_Lep            True             False        0.058333333333333334
     chi^1_Ori            True             False         0.09583333333333334
        mu_Her           False             False                         0.0
Barnard's_star           False             False                         0.0
     alpha_CMa            True             False         0.06458333333333334
   epsilon_Eri            True             False         0.07083333333333333
      61_Cyg_A            True             False                     0.00625
     alpha_CMi            True             False         0.07291666666666667
      61_Cyg_B            True             False                     0.00625

## Observation Capability

For November 15-30

In [13]:
#New Time range
time_range_nov = Time(["2019-11-15 00:00", "2019-11-30 23:59"])

In [35]:

# Early on in our window the moon will be bright (90%)
# Early section is from the 15 to the 23 (When the moon gets to about 10 percent)
time_range_nov = Time(["2019-11-15 00:00", "2019-11-23 23:59"])
con = [AltitudeConstraint(30*u.deg, 90*u.deg),
AirmassConstraint(2), AtNightConstraint.twilight_civil(),
       MoonIlluminationConstraint(0.90),MoonSeparationConstraint(min=.10*u.deg)]
#Table
observability_table(observer=observatory,
                   constraints=con,
                   targets=small_targets,time_range=time_range_nov)

<Table length=10>
 target name   ever observable always observable fraction of time observable
    str14            bool             bool                 float64
-------------- --------------- ----------------- ---------------------------
     delta_Eri            True             False        0.027777777777777776
     gamma_Lep            True             False        0.013888888888888888
     chi^1_Ori            True             False        0.037037037037037035
        mu_Her           False             False                         0.0
Barnard's_star           False             False                         0.0
     alpha_CMa            True             False        0.020833333333333332
   epsilon_Eri            True             False        0.027777777777777776
      61_Cyg_A            True             False        0.016203703703703703
     alpha_CMi            True             False         0.02546296296296296
      61_Cyg_B            True             False        0.016203703703703703